<html>
<head>
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="D:/ESTUDIOS/BootCamp/usb2/nuevologin/6ECOMMERCE_REGISTRAR/static/css/estilos.css">
</head>
<body>
	<header>
		<div id="menu">
			<a href="#">Inicio</a> |
			<a href="#">Películas</a> | 
			<a href="#">Género</a> | 
			<a href="#">Series</a>
		</div>
		<div id="banner">
			<div id="proximo">Próximamente</div>
		</div>
	</header>
	<section id="principal">
		<div id="contenedor">
			<div id="contenido">
				<div class="titulo">Películas</div>
				<div>
					<div class="cuadro">
						<img src="../static/img/pelicula1.jpg" />
						<div class="titulo">Película 1</div>
					</div>
					<div class="cuadro">
						<img src="static\img\pelicula2.jpg" />
						<div class="titulo">Película 2</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula3.jpg" />
						<div class="titulo">Película 3</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula4.jpg" />
						<div class="titulo">Película 4</div>
					</div>
				</div>
				<div class="titulo">Series</div>
				<div>
					<div class="cuadro">
						<img src="img/pelicula1.jpg" />
						<div class="titulo">Película 1</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula2.jpg" />
						<div class="titulo">Película 2</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula3.jpg" />
						<div class="titulo">Película 3</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula4.jpg" />
						<div class="titulo">Película 4</div>
					</div>
				</div>
				<div class="titulo">Novelas</div>
				<div>
					<div class="cuadro">
						<img src="img/pelicula1.jpg" />
						<div class="titulo">Película 1</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula2.jpg" />
						<div class="titulo">Película 2</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula3.jpg" />
						<div class="titulo">Película 3</div>
					</div>
					<div class="cuadro">
						<img src="img/pelicula4.jpg" />
						<div class="titulo">Película 4</div>
					</div>
				</div>
			</div>
			<div id="lateral">
				<div class="tit_lateral">Top Estrenos</div>
				<div class="cuadro_lat">
					<div class="info imagen">
						<img src="img/thumb_pelicula5.jpg">
					</div>
					<div class="info detalle">
						<h3>Película 5</h3>
						<div><span class="calificacion"><span>4.06</span>/5</span> 3h 29m 2019</div>
					</div>
				</div>
				<div class="cuadro_lat">
					<div class="info imagen">
						<img src="img/thumb_pelicula5.jpg">
					</div>
					<div class="info detalle">
						<h3>Película 5</h3>
						<div><span class="calificacion"><span>4.06</span>/5</span> 3h 29m 2019</div>
					</div>
				</div>
				<div class="cuadro_lat">
					<div class="info imagen">
						<img src="img/thumb_pelicula5.jpg">
					</div>
					<div class="info detalle">
						<h3>Película 5</h3>
						<div><span class="calificacion"><span>4.06</span>/5</span> 3h 29m 2019</div>
					</div>
				</div>
				<div class="tit_lateral">Películas Destacadas</div>
				<div class="cuadro_lat">
					<div class="info imagen">
						<img src="img/thumb_pelicula5.jpg">
					</div>
					<div class="info detalle">
						<h3>Película 5</h3>
						<div><span class="calificacion"><span>4.06</span>/5</span> 3h 29m 2019</div>
					</div>
				</div>
				<div class="cuadro_lat">
					<div class="info imagen">
						<img src="img/thumb_pelicula5.jpg">
					</div>
					<div class="info detalle">
						<h3>Película 5</h3>
						<div><span class="calificacion"><span>4.06</span>/5</span> 3h 29m 2019</div>
					</div>
				</div>
				<div class="cuadro_lat">
					<div class="info imagen">
						<img src="img/thumb_pelicula5.jpg">
					</div>
					<div class="info detalle">
						<h3>Película 5</h3>
						<div><span class="calificacion"><span>4.06</span>/5</span> 3h 29m 2019</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Pie de Pagina
	</footer>
</body>
</html>