{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<h2>Profile Pagina</h2>
<div>
    <p>Tu cuenta de Usuario a Detalle es la siguiente</p>
    <table>
        <tr>
            <td>Usuario:</td>
            <td>{{usuario['usuario']}}</td>
        </tr>

        <tr>
            <td>Password:</td>
            <td>{{usuario['password']}}</td>
        </tr>

        <tr>
            <td>Email:</td>
            <td>{{usuario['email']}}</td>
        </tr>
        <img style="float: right; margin: 0px 0px 20px 20px;" src="{{ url_for('static', filename='') }}{{usuario['foto']}}" width="100">
    </table>
</div>
<p>Bienvenido ,{{username}}</p>
{% endblock %}